---
// INFO: This file contains the recent blogs card component (found on homepage).
const { title, desc, date, author, tags, url } = Astro.props;
---

<style>
  cardRecent {
    display: grid;
    background: var(--mantle);
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
  }

  cardRecent h2 {
    margin: 0;
  }

  #date {
    /* TODO: Fix to comply with Catppuccin styling */
    color: var(--red);
    margin-bottom: 16px;
  }

  #body {
    border-top: 2px solid var(--surface0);
    margin: 0;
    padding: 16px 0;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--surface0);
    border-radius: 6px;
    cursor: pointer;
    min-height: 48px;
    text-decoration: none;
  }

  a:hover {
    background: var(--surface1);
  }
</style>

<cardRecent>
  <div>
    <h2>{title}</h2>
    <p id="date"><em>{date} - {author}</em></p>
    <p id="body">{desc}</p>
  </div>
  <a href={url}>-></a>
</cardRecent>
